.svg{
    display: block;
    margin: 20px auto;
}
  
.svg-circle-bg {
    fill: none;
}
  
.svg-circle {
    fill: none;
}

.svg-circle-text {
    font-size: 2rem;
    text-anchor: middle;
    fill: #563d7c;
    font-weight: bold;
}